.forecast-grid {
  position: relative;
}

.forecast-grid-col {
  margin-bottom: map-get( $grid-column-gutter, small );
  border: 1px solid $light-gray;
  border-radius: $global-radius;
  box-sizing: border-box;
}

.forecast-grid-wrapper {
  position: relative;
  overflow: hidden;
}

.forecast-hourly-title {
  margin: 0;
}

.forecast-title {
  margin-bottom: 0;
  padding: .3em 0;
  font: {
    size: 1rem;
    weight: 700;
  }
  text-align: center;
  background: $light-gray;
  border-radius: $global-radius $global-radius 0 0;
}

.media-object {
  margin-bottom: 0;
  padding: map-get( $grid-margin-gutters, xsmall );
  box-sizing: border-box;

  + .media-object {
    border-top: 1px solid $light-gray;
  }
}

.wi {
  width: 40px;
  color: $primary-color;
  font-size: 32px;
  text-align: right;
}